<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>RegistrationForm</servlet-name>
  	<servlet-class>com.fametronics.RegistrationForm</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrationForm</servlet-name>
  	<url-pattern>/registrationForm</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DoRegistration</servlet-name>
  	<servlet-class>com.fametronics.Register</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DoRegistration</servlet-name>
  	<url-pattern>/doRegistration</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LoginForm</servlet-name>
  	<servlet-class>com.fametronics.LoginForm</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginForm</servlet-name>
  	<url-pattern>/loginForm</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DoLogin</servlet-name>
  	<servlet-class>com.fametronics.DoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DoLogin</servlet-name>
  	<url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  
</web-app>